<div class="page">
  <nav class="navbar">
    <div class="links">
      <a class="piz">Pizzeria</a>
      <a routerLink="/home">
        <img
          src="https://static.vecteezy.com/system/resources/previews/021/007/901/non_2x/delicious-pizza-logo-minimalist-vector.jpg"
          width="50px">
      </a>
      <a routerLink="/orderpizza">Order Pizza</a>
      <a routerLink="/buildpizza">Build ur Pizza</a>
    </div>

    <div class="cart">
      <a routerLink="/cart">
        <button> 🛒Shopping cart</button>
      </a>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>