.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
  color: white;
  padding: 15spx;
}

.piz {
  font-size: 30px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart button {
  padding: 8px 16px;
  background-color: yellow;
  color: rgb(12, 12, 12);
  border: 0px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;
}

img {
  border: 0px;
  border-radius: 50%;
}